<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Game</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="leader-board">
        <h4>🌟 Leader Board 🌟</h4>
        <!-- <h3>command !drop</h3> -->
        <div class="scores"></div>
    </div>

    <img class="target" src="/assets/images/forest.svg" alt="">
    <script src="/assets/js/tmi.min.js"></script>
    <script async src="/assets/js/script.js" username="{{username}}"  password={{password}} userTwitch="{{userTwitch}}"></script>
</body>

</html>